.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.main-container {
    min-height: 150px;
    position: relative; /* so center-area can
                           be positioned absolute */
}
.center-area {
    /* let it fill the whole container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.center-area:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.centered {
    display: inline-block;
    vertical-align: middle;
}

main {
    flex: 1 0 auto;

}

html {
    background-color: #670000;
}

nav {
    background-color: #4b4b4b;
}

h4 {
    color: #ffffff
}

h5 {
    color: #ffffff
}

p {
    color: #ffffff
}

button {
    background-color: #000000;
}

label {
    color: #ffffff;
}

.btn {
    margin-top: 10px;
    background-color: #000000;
}

.main-section {
    background-color: #4b4b4b;
    border-radius: 10px;
}

.section {
    margin-top: 12vh;
}

.page-footer {
    background-color: #4b4b4b;
}

.page-footer>.container {
    background-color: #4b4b4b;
}

.footer-copyright {
    background-color: #4b4b4b;
}

.modal {
    background-color: #4b4b4b;
}

.input-field {
    color: #ffffff;
}


/* label focus color */
.input-field input:focus + label {
    color: white !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #c50000 !important;
    box-shadow: 0 1px 0 0 #c50000 !important
}
